<header>
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
          <a href="/" class="navbar-brand nav-item">
            {{ site.company_name }}
          </a>
          <ul class="nav navbar-nav">
            <!-- <li>
              <a href="/web-applications/">Web Applications</span></a>
            </li>
            <li>
              <a href="/data-analysis/">Data Analysis</span></a>
            </li>
            <li>
              <a href="/solutions/">Solutions</span></a>
            </li> -->
            <li class="nav-item">
              <a href="/alt/">Alt</span></a>
            </li>
            <li class="nav-item">
              <a href="/press/">Press</span></a>
            </li>
            <li class="nav-item">
              <a href="/our-blog/">Our Blog</span></a>
            </li>
            <!-- <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
              <span class="caret"></span></a>
               <ul class="dropdown-menu">
                <li><a href="/about/who.html">Who Are WE?</a></li>
                <li><a href="/about/experience.html">Our Experience and Expertise</a></li>
                <li><a href="/about/methodology.html">Our Approach and Methodology</a></li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a href="/contact-us/">Contact Us</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- When we have search results, we'll need this, at least the way I did search -->
  <div class="container" style="display: none">
    <div id="search-results">
      <div id="clear-results" class="clear-button" style="display: block;">&nbsp;</div>
      <ul id="search-results-list"></ul>
      <div id="pagination-outer-container">
        <div id="pagination-inner-container" class="centre">
          <div id="pagination"></div>
        </div>
      </div>
    </div>
  </div>

</header>
