.contact-us {
  color: white;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: auto 100%;
  background-color: #342117;
  background-clip: border-box;
  background-image: url('/images/Writer_Cropped.jpg'); // no-repeat top center fixed;
  background-position: left bottom;
  padding: 0 0 10px 40%;
}

.contact-text {
  background-color: rgba(50,33,23,.5);
  text-align: left;
  padding: 5px; //  text-shadow: -1px -1px #000000, 1px 0px #000033, 2px 1px #000000, 3px 2px #000033, 4px 3px #000033;
}
