.divider {
    height: 50px;
}

section {
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
}

.bg-text-title {
  color:#FFFFFF;
  text-align: right;
  padding: 20px;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 90%;
  text-shadow: -1px -1px #000066, 1px 0px #000066, 2px 1px #000066, 3px 2px #000066, 4px 3px #000066;
}
.fg-text-title {
  color: #000066;
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  padding: 15px;
  text-shadow: -1px -1px #B3B3FF, 1px 0px #B3B3FF, 2px 1px #B3B3FF, 3px 2px #B3B3FF, 4px 3px #B3B3FF;
}
.panel-title {
  font-size: 1.75rem;
  text-align: center;
  padding: 10px;
}

%bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-color: yellow;
  background-clip: border-box;
}

.bg-1 {
	background-image: url('/alt/confused.jpg'); // no-repeat center center fixed;
  @extend %bg;
}

.bg-2 {
	background-image: url('/alt/sun_rise.jpg'); // no-repeat top center fixed;
  @extend %bg;
}

.bg-3 {
	background-image: url('/alt/stormy_seas8.jpg'); // no-repeat top center fixed;
  @extend %bg;
}

.bg-4 {
	background-image: url('/alt/calm_seas5.jpg'); // no-repeat top center fixed;
  @extend %bg;
}

.bg-5 {
	background-image: url('/images/Willem_van_de_Velde_the_Younger,_Ships_on_a_Stormy_Sea_(c._1672).jpg'); // no-repeat top center fixed;
  @extend %bg;
  // background-position: top -250px right;
  background-position: top -396px right;
  // background-position: bottom 0px right;
  background-size: auto 1000px;
}

@media (min-width: 1457px) {
  .bg-5 {
    background-size: 100% 1000px;
  }
}

.bg-6 {
	background-image: url('/images/Van_de_Velde,_Willem_the_younger_-_A_Calm_-_Google_Art_Project.jpg'); // no-repeat top center fixed;
  @extend %bg;
  // background-position: 0px -850px;
  background-position: right bottom;
}

.bg-7 {
	background-image: url('/alt/stormy_seas11.jpg'); // no-repeat top center fixed;
  @extend %bg;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}
