.divider {
  height: 50px;
}

section {
  height: 400px;
  overflow: auto;

  + .container {
    margin-top: 20px;
  }
}

.bg-text-title-top {
  color: #FFFFFF;
  text-align: right;
  padding: 5px 20px 20px 50%;
  font-weight: 400;
  // font-size: 1rem;
  line-height: 120%;
  text-shadow: -1px -1px #000066, 1px 0 #000066, 2px 1px #000066, 3px 2px #000066, 4px 3px #000066;
}

.bg-text-title-bottom {
  color: #EEEEFF;
  background-color: rgba(100,100,100,.5);
  text-align: center;
  padding: 5px;
  font-weight: 400;
  // font-size: 1.5rem;
  line-height: 120%;
  //  text-shadow: -1px -1px #000000, 1px 0px #000033, 2px 1px #000000, 3px 2px #000033, 4px 3px #000033;
}

.fg-text-title {
  color: #000066;
  font-weight: 500;
  text-align: center;
  // font-size: 2rem;
  font-style: italic;
  padding: 15px;
  text-shadow: -1px -1px #B3B3FF, 1px 0 #B3B3FF, 2px 1px #B3B3FF, 3px 2px #B3B3FF, 4px 3px #B3B3FF;
}

.panel-title {
  // font-size: 1.75rem;
  text-align: center;
  padding: 10px;
}

%bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-clip: border-box;
}

.bg-calm {
  background-image: url('/images/Calm_20.jpg');
  @extend %bg;
  background-position: right bottom;
  padding: 0 0 10px;
}

.bg-storm {
  background-image: url('/images/Stormy_18.jpg');
  @extend %bg; //  background-position: right -250px;
  background-position: top -92px right -75px;
  background-size: auto 556px;
}
// == @screen-sm ===============================================================
@media (min-width: $min-width-sm) {
  .bg-storm {
    background-image: url('/images/Stormy_14.jpg');
    background-position: top -210px right -150px;
    background-size: auto 714px;
  }

  .bg-text-title-top {
    text-align: right;
    padding: 5px 20px 20px 65%;
    font-weight: 400;
    // font-size: 1.1rem;
  }

  .bg-text-title-bottom {
    text-align: center;
    padding: 15px 5px 5px;
    // font-size: 1.9rem;
  }

  section {
    height: 400px;
  }
}
// -- end @screen-sm - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// == @screen-md ===============================================================
@media (min-width: $min-width-md) {
  .bg-storm {
    background-image: url('/images/Stormy_12.jpg');
    background-position: top -229px right -75px;
    background-size: auto 833px;
  }

  .bg-text-title-top {
    text-align: right;
    padding: 5px 20px 20px 60%;
    font-weight: 400;
    // font-size: 1.8rem;
  }

  .bg-text-title-bottom {
    text-align: center;
    padding: 15px 5px 5px;
    // font-size: 1.9rem;
  }

  section {
    height: 500px;
  }
}
// -- end @screen-md - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// == @screen-lg ===============================================================
@media (min-width: $min-width-lg) {
  .bg-storm {
    background-image: url('/images/Stormy_10.jpg');
    background-position: top -396px right -75px;
    background-size: auto 1000px;
  }

  .bg-text-title-top {
    text-align: right;
    padding: 5px 20px 20px 60%;
    font-weight: 400;
    // font-size: 2.2rem;
  }

  section {
    height: 500px;
  }
  //
}
// -- end @screen-lg - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// == @screen-xl ===============================================================
@media (min-width: $min-width-xl) {
  .bg-storm {
    background-image: url('/images/Stormy_10.jpg');
    background-position: top -396px right;
    background-size: auto 1000px;
  }

  .bg-text-title-top {
    text-align: right;
    padding: 5px 20px 20px 67%;
    font-weight: 400;
    // font-size: 2.5rem;
  }

  .bg-text-title-bottom {
    text-align: center;
    padding: 5px 5px 5px;
    font-weight: 400;
    // font-size: 2.2rem;
  }

  section {
    height: 500px;
  }
}
// -- end @screen-xl - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
// Handle the size of the stormy picture.
@media (min-width: 1457px) {
  .bg-storm {
    background-size: 100% 1000px;
  }
}

#footer {
  height: 60px;
  background-color: #585858;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer a {
  color: #efefef;
}
