html {
  font: {
    size: $base-font-size - 12px;
    family: $base-font-family;
  }
}

@media media-query($min-width-sm) {
  html {
    font-size: $base-font-size - 8px;
  }
}

@media media-query($min-width-md) {
  html {
    font-size: $base-font-size;
  }
}

@include media-query($min-width-lg) {
  html {
    font-size: $base-font-size;
  }
}

// No extra large for now.
